# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Django
staticfiles/
media/

# Env
.env
/backend/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# Misc
*.DS_Store

