DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=kms_db
POSTGRES_USER=kms_user
POSTGRES_PASSWORD=kms_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

KANZELEI_DOCS_ROOT=/data/docs

